.movie-card__backdrop img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -2;
  height: 100vh;
  object-fit: cover;
}

.movie-card__backdrop:before {
  content: "";
  position: absolute;
  background: linear-gradient(0deg, #f7f7f7 0%, #f7f7f7 25%, rgba(81, 37, 184, 0.39) 100%);
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: -1;
}

.movie-card-main {
  background: #ffffff;
  border-radius: 10px;
  padding: 20px 50px 20px 20px;
  margin-top: 25vh;
  display: grid;
  grid-template-columns: 40% 1fr;
  grid-gap: 50px;
  min-height: 70vh;
  margin-bottom: 100px;
}

.movie-card__poster {
  position: relative;
}

.movie-card__poster img {
  width: 100%;
  position: absolute;
  top: -70px;
  border-radius: 10px;
}

h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.movie-card__tagline {
  color: #2196f3;
  font-size: 20px;
  font-weight: 600;
}

.movie-card__overview {
  margin-top: 25px;
  font-size: 14px;
  color: #333333;
  font-weight: 300;
  text-align: justify;
}

.movie-card__genre {
  color: #2196f3;
  font-size: 17px;
  margin-top: 40px;
  margin-bottom: 10px;
}

.movie-card__production {
  margin-top: 0;
}

.movie-card__row {
  display: grid;
  grid-template-columns: 50% 1fr;
  grid-gap: 30px;
  margin-top: 40px;
}

.movie-card__col {
  font-size: 20px;
}

.movie-card__col span {
  display: block;
  color: #329df4;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .movie-card-main {
    grid-template-columns: 1fr;
    grid-gap: 0;
    padding: 30px;
    margin-top: 10px;
  }
  .movie-card__poster img {
    position: relative;
    margin-top: -70px;
    top: 0;
  }
}
