/* Empty Search */
.no-data {
  text-align: center;
}

.no-data img {
  width: 300px;
  margin: 20px 0;
}

.no-data p {
  color: #333333;
  font-size: 18px;
}

/* Loading */
.movie-list-loading {
  text-align: center;
  margin: 80px 0;
}
