.main-logo {
  width: 60px;
  margin-bottom: 10px;
}

.movie-search {
  padding: 20px 10px 10px;
  text-align: center;
}

.movie-search__input {
  font-size: 20px;
  font-weight: 300;
  height: 50px;
  width: 300px;
  max-width: 300px;
  border-radius: 5px;
  border: solid 1px #333333;
  padding: 0 15px;
  outline: none;
  background: rgba(0, 0, 0, 0.4);
  color: white;
}

.movie-search__input:focus {
  background: rgba(0, 0, 0, 0.8);
  transition: 0.2s all ease-in-out;
}

::-webkit-input-placeholder {
  color: #ccc;
}

:-ms-input-placeholder {
  color: #ccc;
}

::placeholder {
  color: #ccc;
}

@media screen and (min-width: 768px) {
  .movie-search {
    padding: 50px 10px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .movie-search__input {
    border: 0;
  }
  .main-logo {
    margin-right: 20px;
  }
}
